<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="by.vsu.model.User" alias="User"/>
        <typeAlias type="by.vsu.model.UserInfo" alias="UserInfo"/>
        <typeAlias type="by.vsu.model.Restaurant" alias="Restaurant"/>
        <typeAlias type="by.vsu.model.Review" alias="Review"/>
        <typeAlias type="by.vsu.model.Table" alias="Table"/>
        <typeAlias type="by.vsu.model.Scheme" alias="Scheme"/>
        <typeAlias type="by.vsu.model.TableReservation" alias="TableReservation"/>
        <typeAlias type="by.vsu.model.Position" alias="Position"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="by.vsu.model.User$Role"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="by.vsu.model.User$Status"/>
    </typeHandlers>
    
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/RestaurantMapper.xml"/>
        <mapper resource="mappers/UserInfoMapper.xml"/>
        <mapper resource="mappers/ReviewMapper.xml"/>
        <mapper resource="mappers/SchemeMapper.xml"/>
        <mapper resource="mappers/TableMapper.xml"/>
    </mappers>
</configuration>