<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="by.vsu.model.User" alias="User"/>
        <typeAlias type="by.vsu.model.Restaurant" alias="Restaurant"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="by.vsu.model.UserRole"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="by.vsu.model.UserStatus"/>
    </typeHandlers>
    
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/RestaurantMapper.xml"/>
    </mappers>
</configuration>